@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auth</h1>
    <p class="lead">Welcome to Authentication and Authorization App.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Free Access</h2>
        <p>
            This is a free access area
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>User Access</h2>
       <p>This requires minimum access</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin Access</h2>
       <p>This requires major access</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>